/* style.css */
body {
  margin: 0;
  font-family: "milibus", sans-serif;
  font-weight: 700;
  color: #000;
  overflow-x: hidden;
  text-align: center;
}

h2 {
  font-style: italic;
  font-weight: bold;
  font-size: 2em;
}

header {
  margin-bottom: 5px;
  background-color: #000;
  color: white;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer {
  background-color: #000;
  color: white;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  height: 50px;
}

nav a {
  color: white;
  margin-left: 25px;
  text-decoration: none;

}

nav a:hover {
  color: #c49a6c;
}

.nav-logo {
  height: 60px;
  transition: transform 0.2s ease;
}

.nav-logo:hover {
  transform: scale(1.05);
  cursor: pointer;

}

.mockups {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: auto; 
}

.mockups img {
  max-width: 100%;
  height: auto;
  width: 100%;
  object-fit: contain;
  position: sticky; 
  top: 0; z-index: 1; 
  box-shadow: 0 1px 20px rgba(0,0,0,0.3);
}

.mockups p {
  color:#be1e2d;
  font-size: 10pt;
  font-style: italic;
  font-weight: bold;
  text-align: left;
  width: 100%;
  max-width: 1000px;
  margin-top: 20px;
  margin-bottom: 3px;
}

.logo-standards {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: auto; 
}

.logo-standards img {
  max-width: 100%;
  height: auto;
  width: 100%;
  object-fit: contain;
  position: sticky; 
  top: 0; z-index: 1; 
  box-shadow: 0 1px 20px rgba(0,0,0,0.3);
}

.logo-standards p {
  color:#be1e2d;
  font-size: 10pt;
  font-style: italic;
  font-weight: bold;
  text-align: left;
  width: 100%;
  max-width: 1000px;
  margin-top: 20px;
  margin-bottom: 3px;
}

.section {
  height: 100vh;
  padding: 3rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

/* Alternating colors */
.TRT { background-color: #be1e2d; 
  font-style: italic;
  text-align: center;
  justify-content: center;
  font-size: 3em;
  color: white; 
  position: sticky; 
  top: 0; z-index: 1; 
  padding: 0.5em;
}

.mission { background-color: white; 
  text-align: center;
  position: sticky; 
  top: 0; z-index: 1; 
  padding: 3rem;
}

.logo { background-color: white; 
  position: sticky; 
  top: 0; 
  z-index: 1; 
  padding: 3rem;
}

.signage { background-color: white;
    position: sticky; 
  top: 0; z-index: 1; 
  padding: 3rem;

}

/* footer */
footer {
  text-align: center;
  font-size: 10pt;
    position: sticky; 
  top: 0; z-index: 1; 
}
